{% extends 'base.html' %}

{% block main %}
    <div class="mt-2 p-5">
        {% if user.is_superuser %}
            <a href="{%url 'add-book' %}" class="btn btn-primary">Adicionar Livro</a>
        {% endif %}
        <div class="d-flex flex-wrap mt-2" style="gap: 20px">
            {% for livro in livros %}
                <div class="card shadow" style="width: 18rem; border-radius: 15px;">
                    <img src="{{ livro.bookCover.url }}" class="card-img-top rounded-top" style="max-height: 160px; object-fit: cover;" alt="Imagem do Livro">
                    <div class="card-body">
                        <h6 class="card-title font-weight-bold">{{ livro.name }}</h6>
                        <p class="card-text">
                            Categoria: {{ livro.gender }} <br>
                            Quantidade de páginas: {{ livro.qtdPages }}<br>
                            Autor: {{ livro.author }} <br>
                            Estoque: {{ livro.qtdBooks }}
                        </p>
                        {% if livro.in_stock and not user.is_superuser %}
                            <a href="{% url 'loan-book' livro.id %}" class="btn btn-success" style="width: 100%;">Alugar livro</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}