{% extends 'base.html' %}

{% block main %}
    <div class="mt-2 p-5">
        <div class="d-flex flex-wrap mt-2" style="gap: 20px">
            {% for livro in livros %}
                <div class="card shadow" style="width: 18rem; border-radius: 15px;">
                    <img src="{{ livro.bookCover.url }}" class="card-img-top" style="max-height: 160px" alt="...">
                    <div class="card-body">
                        <h6 class="card-title font-weight-bold">{{ livro.name }}</h6>
                        <p class="card-text">
                            Categoria: {{ livro.category }} <br>
                            Quantidade de páginas: {{ livro.qtdPages }}<br>
                            Autor: {{ livro.author }} <br>
                            Estoque: {{ livro.qtdBooks }}
                        </p>
                        <a href="{% url 'return-book' livro.id %}" class="btn btn-danger" style="width: 100%;">Devolver livro</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}